    /*controle musica*/
    #music-controls {
        /* margin-top: 20px;*/
        width: 1%;
float: left;
    }

    img.som {
        width: 25px;
        background: linear-gradient(to right, rgba(235, 188, 167, 0.624), rgba(207, 199, 248, 0.742));
        cursor: pointer;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

.video{
    background: linear-gradient(to right, rgba(235, 188, 167, 0.624), rgba(207, 199, 248, 0.742));
padding: 10%;
}